




#solo_banner .container .row .contents {
    background-color: #f8fafc;
}

#solo_banner .container .row .main_contents .admin_part img {
    width: 30px; height: auto;
    border-radius: 50px;
}

#solo_banner .container .row .main_contents .admin_part .admin-a , #banner_noimg .container .row .main_contents .admin_part .admin-a {
    text-decoration: none;
    
    position: relative;
    left: -10px;
}

#solo_banner .container .row .main_contents .admin_part .admin-a:hover {
    color: #4c6fff;
    
}
.admin_dot {
    position: relative;
    bottom: 5px;
    color: #7784a7;
}


.admin {
    
    font-size: 12px;
}

#solo_banner .container .row .main_contents  h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
#solo_banner .container .row .main_contents  h4:hover , #banner_noimg .container .row .main_contents  h4:hover{
    color: #4c6fff;
}
#solo_banner .container .row .main_contents h4::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: black;
    margin-top: 10px;
}

#solo_banner .container .row  .contents .main_contents .btn {
    border-radius: 50px;
}

#solo_banner .contents .main_contents .main_contents_para{
    font-size: 21px;
}



/* -----------------banner_noimg----------------- */

#banner_noimg .main_contents{
    background: #292c36;
}

#banner_noimg .main_contents h4{
    color: #fff;
}
#banner_noimg .main_contents h4:hover{
    color: #4c6fff;
}
#banner_noimg .contents .main_contents .main_contents_para{
    color: #fff;
}
#banner_noimg .contents .main_contents .btn_bg_outline{
    background: transparent ;
}
#banner_noimg .contents .main_contents .btn_bg_outline:hover{
    background: #4c6fff;
}
#banner_noimg .container .row .main_contents h4::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-top: 10px;
}
#banner_noimg .contents .main_contents .main_contents_para{
    font-size: 21px;
}
#banner_noimg .container .row .main_contents  h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}